[submodule "platform"]
	path = platform
	url = https://github.com/Basilisk-Development-Team/UXP-mirror.git
[submodule "thirdparty/libcxx-static"]
	path = thirdparty/libcxx-static
	url = https://github.com/llvm/llvm-project.git
