name: Build Basilisk Linux x86_64

on:  
  workflow_dispatch:
  push:
    branches:
      - master
      - release

jobs:
  build-basilisk:
    name: Build Basilisk Linux ${{ matrix.config.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config:
        - name: GTK3 x86_64
          gtk: gtk3
          arch: x86_64
        - name: GTK2 x86_64
          gtk: gtk2
          arch: x86_64
    steps:
      - name: Free Disk Space
        run: |
          sudo apt-get update
          sudo apt-get remove -y *dotnet* *google-cloud* *aws* *php* google-chrome-stable firefox powershell mono-devel
          sudo apt-get autoremove -y

      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Copy mozconfig
        run: cp .github/workflows/build-basilisk-linux-x86_64/mozconfig-${{ matrix.config.gtk }}-${{ matrix.config.arch }} .mozconfig

      - name: Build Basilisk
        run: docker run -v $PWD:/share --rm -e UPDATEFIRST=$UPDATEFIRST -e UID=$(id -u) -e GID=$(id -g) -e USERNAME=$(whoami) -e GROUPNAME=$(id -gn) -t basiliskdev/slackware14-uxp:latest /share/build-scripts/linux-x86_64/build_basilisk_subscripts/run_inside_docker.sh

      - uses: actions/upload-artifact@v3
        with:
          name: basilisk-linux-${{ matrix.config.arch }}-${{ matrix.config.gtk }}
          path: obj-${{ matrix.config.arch }}-pc-linux-gnu/dist/basilisk-*
