name: Build Basilisk Linux x86_64

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - release

jobs:
  build-basilisk:
    name: Build Basilisk Linux ${{ matrix.config.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config:
          - name: GTK3 x86_64 GCC
            gtk: gtk3
            arch: x86_64
            compiler: gcc
          - name: GTK2 x86_64 GCC
            gtk: gtk2
            arch: x86_64
            compiler: gcc
          - name: GTK3 x86_64 Clang+LTO
            gtk: gtk3
            arch: x86_64
            compiler: clang_lto
          - name: GTK2 x86_64 Clang+LTO
            gtk: gtk2
            arch: x86_64
            compiler: clang_lto
          - name: GTK3 x86_64 Clang+LTO+Static libcxx
            gtk: gtk3
            arch: x86_64
            compiler: clang_lto_libcxx
          - name: GTK2 x86_64 Clang+LTO+Static libcxx
            gtk: gtk2
            arch: x86_64
            compiler: clang_lto_libcxx

    steps:
      - name: Free Disk Space
        run: |
          sudo apt-get update
          sudo apt-get remove -y *dotnet* *google-cloud* *aws* *php* google-chrome-stable firefox powershell mono-devel
          sudo apt-get autoremove -y

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Copy mozconfig
        run: cp mozconfigs/linux/${{ matrix.config.arch }}/${{ matrix.config.gtk }}_unofficial_branding_${{ matrix.config.compiler }}.mozconfig .mozconfig

      - name: Apply static libcxx patch
        if: matrix.config.compiler == 'clang_lto_libcxx'
        run: |
          cd platform
          git apply ../patches/static-libcxx-fix.patch

      - name: Update mozconfig for release branch
        if: github.ref == 'refs/heads/release'
        run: |
          sed -i 's/disable-updater/enable-updater/g' .mozconfig
          sed -i 's/disable-official-branding/enable-official-branding/g' .mozconfig

      - name: Pull official branding files for release branch
        if: github.ref == 'refs/heads/release'
        run: |
          cd basilisk/branding && git clone https://${{ secrets.RPMO_CLONE_CREDENTIALS }}@repo.palemoon.org/Basilisk-Dev/${{ secrets.OFFICIAL_BRANDING_REPO_NAME }}.git official

      - name: Update docker build script for release branch
        if: github.ref == 'refs/heads/release'
        run: |
          echo 'su -c "./mach mar" $USERNAME' >> build-scripts/linux/build_basilisk_subscripts/run_inside_docker.sh

      - name: Build Basilisk
        run: ./build-scripts/linux/build_basilisk.sh

      - uses: actions/upload-artifact@v4
        with:
          name: basilisk-linux-${{ matrix.config.arch }}-${{ matrix.config.gtk }}-${{ matrix.config.compiler }}
          path: obj-${{ matrix.config.arch }}-unknown-linux-gnu/dist/basilisk-*
